button {
  all: unset;
}

div {
  outline: none;
}

.icon svg {
  fill: var(--color-light-100);
}

.avatar {
  display: flex;
  align-items: center;
}

.itemProfile {
  display: flex;
  column-gap: 6px;
  align-items: center;

  box-sizing: border-box;
  width: 90%;
  height: 17px;
  margin: 0 10px;
  padding: 30px 0;

  border-bottom: 1px solid var(--color-dark-500);

  .typographyStyleEmail {
    color: var(--color-dark-100);
  }
}

.userData {
  display: flex;
  flex-direction: column;
  place-content: flex-start center;
}

.trigger {
  cursor: pointer;

  position: relative;
  z-index: 0;

  display: flex;
  align-items: center;

  &:hover {
    filter: drop-shadow(0 0 6px var(--color-accent-500));
  }
}

.content {
  width: 250px;

  white-space: nowrap;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;
  box-shadow: none;
}

.item {
  cursor: pointer;

  display: flex;
  column-gap: 6px;
  align-items: center;

  box-sizing: border-box;
  width: 90%;
  height: 17px;
  margin: 0 10px;
  padding: 20px 0;

  border-bottom: 1px solid var(--color-dark-500);

  &:hover {
    .icon svg {
      fill: var(--color-accent-300);
    }

    .typographyStyle {
      color: var(--color-accent-300);
    }
  }
}

.menuItem:last-of-type .item {
  border-bottom: none;
}

.container {
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  display: flex;
}

.arrow {
  position: absolute;
  top: -3.2%;
  left: 91%;
  rotate: 45deg;

  width: 10px;
  height: 10px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-right: none;
  border-bottom: none;
}
