button {
  all: unset;
}

.pseudo {
  position: absolute;
  z-index: 0;
  top: 12px;
  left: 10px;
  transform: translate(-50%, -50%);

  width: 0;
  height: 0;

  background-color: var(--color-dark-500);
  border-radius: 50%;

  transition: 0.2s;
}

.container {
  cursor: pointer;

  position: relative;

  display: flex;
  column-gap: 12px;
  align-items: center;
  justify-content: flex-start;

  &:hover .pseudo {
    width: 36px;
    height: 36px;
  }
}

.root {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  background-color: rgb(255 255 255 / 0%);
  border: 2px solid var(--color-light-900);
  border-radius: 4px;

  &[data-state='checked'] {
    border: 2px solid transparent;
  }

  &:disabled {
    cursor: not-allowed;
    border: 2px solid var(--color-dark-100);
  }
}

.indicator {
  position: absolute;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  color: var(--color-light-700);

  background-color: var(--color-dark-100);
  border-radius: 4px;

  &:not([data-disabled]) {
    color: black;
    background-color: var(--color-light-100);
  }
}

.typographyDisabled {
  opacity: 0.5;
}
