button {
  all: unset;
}

.container {
  display: flex;
  column-gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.root {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  background-color: rgb(255 255 255 / 0%);
  border: 2px solid var(--color-light-900);
  border-radius: 4px;
}

.root[data-state='checked'] {
  border: 2px solid transparent;
}

.root:not([data-disabled])::before {
  content: '';

  position: absolute;
  z-index: -1;

  width: 0;
  height: 0;

  border-radius: 50%;

  transition: 0.3s;
}

.root:hover::before {
  width: 36px;
  height: 36px;
  background-color: var(--color-dark-500);
}

.root:active::before {
  width: 36px;
  height: 36px;
  background-color: var(--color-dark-100);
}

.root:disabled {
  cursor: not-allowed;
  border: 2px solid var(--color-dark-100);
}

.indicator {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  color: var(--color-light-700);

  background-color: var(--color-dark-100);
  border-radius: 4px;
}

.indicator:not([data-disabled]) {
  color: black;
  background-color: var(--color-light-100);
}

.typographyDisabled {
  opacity: 0.5;
}
