button {
  outline: none;
}

.container {
  cursor: pointer;
}

.trigger {
  width: 210px;
  height: 36px;
  display: flex;
  text-align: justify;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  padding: 5px 12px 5px 12px;

  &:hover:not([data-disabled]) {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-100);
  }

  &[data-state='open'] {
    border-radius: 2px 2px 0 0;
    border: 1px solid var(--color-dark-100);

    .arrow {
      transform: rotate(-180deg);
    }
  }

  &:focus-visible {
    border-color: var(--color-info-700);
  }

  &:disabled {
    cursor: initial;
    border-color: var(--color-dark-300);

    .typographyStyle {
      opacity: 0.5;
    }

    .arrow {
      opacity: 0.5;
    }
  }
}

.arrow {
  fill: var(--color-light-100);
  display: flex;
  align-items: center;
  transform-origin: center;
  transition: 0.3s;
  rotate: 180deg;
}

.viewport {
  width: 210px;
  cursor: pointer;
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-100);
  border-radius: 0 0 2px 2px;
}

.item {
  outline: none;
  padding: 5px 12px 5px 12px;

  &[data-highlighted] {
    background-color: var(--color-accent-900);

    .typographyStyle {
      color: var(--color-accent-300);
    }
  }

  &:hover {
    background-color: var(--color-accent-900);

    .typographyStyle {
      color: var(--color-accent-300);
    }
  }
}

.triggerPagination {
  width: 60px;
  height: 24px;
}

.viewportPagination {
  width: 60px;
}