.paginationContainer {
  display: flex;
  flex-direction: row;
  gap: 0 12px;
  align-items: flex-end;
  justify-content: start;

  margin-top: 24px;
  margin-bottom: 90px;
}

.button {
  all: unset;

  cursor: pointer;

  display: flex;
  justify-content: center;

  min-width: 24px;
  height: 24px;

  border-radius: 2px;
  outline: 2px solid transparent;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    color: var(--color-dark-300);

    &:hover {
      cursor: initial;
      background-color: var(--color-dark-900);
    }
  }

  &:focus-visible {
    outline: 0.125rem solid var(--color-info-700);
  }

  &:active:enabled,
  &.active:enabled {
    color: var(--color-dark-900);
    background-color: var(--color-light-100);
    transition: background-color 0.3s ease;
  }
}

.dots {
  display: flex;
  justify-content: center;

  width: 24px;
  height: 24px;

  color: var(--color-light-100);
}
