.root {
  background-color: blue;

}

.head {
  width: 100%;
  height: 36px;
  background-color: red;
}

.headCell {
  width: 10%;
}

.body {
  background-color: #8c61ff;
}

.row {
}

.cell {
}

.empty {
}