.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  column-gap: 0;
}

.img {
  aspect-ratio: 2/1;
  width: 100%;

  object-fit: cover;
  border-radius: 4px;

  transition: 0.3s;
}

.buttonBlock {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  button {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
