.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1093px;
  padding: 12px 136px;
  box-sizing: content-box;
}

.section {
  display: flex;
  justify-content: center;
  max-width: 1093px;
}

.backButton {
  display: flex;
  justify-content: flex-start;
  margin-top: 24px;
}
