button {
  all: unset;
}

div {
  outline: none;
}

.button {
  position: relative;
  z-index: 0;

  &:hover::before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 26px;
    background-color: #333333;
    transition: 0.3s;
    border-radius: 50px;
  }
}

.content {
  width: 90px;
  background-color: #171717;
  border: 1px solid #333333;
  border-radius: 4px;
  box-shadow: none;
}

.item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 80%;
  height: 17px;
  padding: 20px 0;
  margin-left: 10px;
  column-gap: 6px;
  border-bottom: 1px solid #333333;
}

.menuItem:last-of-type .item {
  border-bottom: none;
}

.container {
  display: flex;
}

.img {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.typographyStyle {
  cursor: pointer;
}

.arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #171717;
  border: 1px solid #333333;
  border-right: none;
  border-bottom: none;
  top: -4%;
  left: 81%;
  rotate: 45deg;
}
