.root {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 542px;

  animation: content-show 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

.header {
  display: flex;
  justify-content: space-between;

  padding: 18px 24px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.content {
  background-color: var(--color-dark-700);
  border-right: 1px solid var(--color-dark-500);
  border-left: 1px solid var(--color-dark-500);
}

.overlay {
  position: fixed;
  inset: 0;

  overflow-y: auto;

  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  background: rgba(0 0 0 / 50%);

  transition: 0.4s;
  animation: overlay-show 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

.title {
  margin: 0;
}

.close {
  all: unset;
  cursor: pointer;
}

.trigger {
  all: unset;
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content-show {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
