.root {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;

  max-width: 420px;
  margin: 30px 12px;
  padding: 36px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 357px;

  svg {
    margin-bottom: 20px;
  }

  span {
    text-align: center;
    color: var(--color-light-100);
    margin-bottom: 20px;
  }

  span:nth-child(3n) {
    color: var(--color-dark-100);
  }

  .button {
    box-sizing: border-box;
  }
}