.input {
  border: 1px solid #4c4c4c;
  border-radius: 2px;
  width: 284px;
  height: 36px;
  background: none;
  color: #808080
}

.input:hover {
  background-color: #171717;
}

.input:active {
  background: none;
  color: #fff;
  border-color: #fff
}


.error {
  border-color: #f23d61;
  color: #f23d61;
}

.default {
}

.password {

}

.search {

}

