.superInput {
  width: 290px;
}

.textField {
  position: relative;
}

.input {
  width: 284px;
  height: 36px;
  background: none;
  border: 1px solid #4C4C4C;
  border-radius: 2px;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input:hover {
  background-color: #171717;
}

.input:active {
  color: #fff;
  border-color: #fff
}


.input.error {
  border-color: #f23d61;
  color: #f23d61;
}

.eyeButton {
  position: absolute;
  z-index: 1;
  translate: 0px -10px;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
}

.eyeButton.closed::before {
  content: url("/radix-icons/eye-none.svg");
  height: 20px;
  width: 20px;
}

.eyeButton.opened::before {
  content: url("/radix-icons/eye-open.svg");
  height: 20px;
  width: 20px;
}


.default {
}

.password {

}

.search {

}

