.footer {
  display: flex;
  justify-content: space-between;

  margin: 24px 0 0;

  height: 84px;

  background-color: var(--color-dark-700);

  &.only_primary {
    justify-content: flex-end;
  }
}
