.footer {
  display: flex;
  justify-content: space-between;

  margin-top: -1px;
  padding: 12px 24px 36px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-top: none;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;

  &.only_primary {
    justify-content: flex-end;
  }
}
