.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 24px;
}

.typographyStyle {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 60px 0;
}
