.header {
  padding-bottom: 45px;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1093px;
  padding-bottom: 30px;
}

.card {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 0;

  padding: 36px;
  margin: 0 auto;
  box-sizing: border-box;
}

.question,
.answer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 18px;
  column-gap: 0;
}

.img {
  aspect-ratio: 2/1;
  width: 100%;

  object-fit: cover;
  border-radius: 4px;

  transition: 0.3s;
}

.typography {
  max-width: 100%;
  overflow-wrap: break-word;
}

.button {
  box-sizing: border-box;
}

.count {
  color: var(--color-dark-100);
  padding-bottom: 17px;
}

.rate {
  padding-top: 30px;
}
