.card {
  cursor: pointer;

  width: 420px;
  height: 552px;

  color: white;
  text-align: start;

  background-color: rgb(23 23 23 / 100%);
  outline: 1px solid rgb(49 49 49 / 100%);
  box-shadow: 0 0 18px rgb(49 49 49 / 100%);
}

