.card {
  cursor: pointer;

  min-width: 420px;
  min-height: 552px;

  background-color: var(--color-dark-700);
  border: 1px solid #313131;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}

.typographyStyle {
  margin: 0px 12px;
}
